<h1 style="font-size: 48px; margin: 0;">Leo Xu's Personal Website</h1>

{% for page in site.pages %}
  <li><a href="{{ page.url }}" style="font-size: 40px;">{{ page.title }}</a></li>
{% endfor %}

<p style="font-size: 30px;">This is Leo's personal website from ORIE 5270 class. The website includes sections like "About Me", "Extracurricular & Interest", 
  and "Professional Experience". Some information are blurred due to privacy concerns. The purpose is to show Leo's capability 
  to generate a personal website and content in the ORIE 5270 course.</p>